.footer{
    width: 100vw;
    height: 4rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
    color: black;

}

.design{
    font-style: italic;
}