*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;

}

body{
  width: 100vw;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}